.background_navbar {
  width: 1440px;
  height: 84px;
  opacity: 0.3352015398550725;
  background-color: #000000;
}

.qw{
	  font-family: Lato;
  font-size: 42px;
}

.contenido2{
  width: auto;
  height: 128px;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2777777777777777;
  letter-spacing: -0.25714290142059326px;
  text-align: justify;
  color: #404040;
  padding-right: 50px;
}

.backnav{

	background-color: #00000050;
	border-bottom: 3px solid #2cb8c7;
  height: 70px;
}
ul.uli li {

}

.line{
  width: 50px;
  height: 3px;
    border-bottom: 3px solid #2cb8c7;
     transition: width 2s;
}

.line:hover {

  width: 100%;
  height: 3px; 
  border-bottom: 3px solid #2cb8c7;
}

.textstyle{
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

.styblog{

  background-color: #f8f8f8;
   margin-bottom: -100px;
   font-size: 8px;
    background-color: #2cb8c7;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.backfoo{
 background-image: url('http://localhost/Proyectos/majock/img/5.jpg');

}



.socialfoo{
    content: "\f39e";
    font-family: FontAwesome;
    display: inline-block;
    vertical-align: top;
    height: 37px;
    width: 37px;
    line-height: 33px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    margin-right: -14px;
    font-size: 18px;
    color: #2cb8c7;
    float: left;
    margin-top: 4px;
}



.fontcont{
  font-size: 12px;
  color: #fff;
  background-color: #2cb8c7;

}

.fontloren{
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2777777777777777;
  letter-spacing: -0.25714290142059326px;
  text-align: justify;
  color: #404040;
}




::-webkit-input-placeholder { /* Chrome */
  color: red;
}
:-ms-input-placeholder { /* IE 10+ */
  color: red;
}
::-moz-placeholder { /* Firefox 19+ */
  color: red;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: red;
  opacity: 1;
}



.or-divider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "futura-pt";
    font-size: 3em;
    margin: 10px 3em;
    margin-left: 47px;
}

.or-divider.italic{
    font-style: italic;
}

.or-divider::before{
    content: '';
    height: .125em;
    background: #2cb8c7;
    flex: 1;
    margin: 0 .25em 0 0;
}

.or-divider::after{
    content: '';
    height: .125em;
    background: #2cb8c7;
    flex: 1;
    margin: 0 0 0 .25em;
}

.or-divider.italic::before,
.or-divider.italic::after{
  transform: skew(-18deg)
                }



/* ----- BUTTONS GALERIA ----- */
.product-view {
  margin-bottom: 10px;
  padding: 5px;
  text-align: left;
}
.product-view i {
  display: inline-block;
  font-size: 1.5em;
  padding: 10px;
  background: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.product-view i.active {
  background: #bbb;
}

/* ----- GALLERY VIEW ----- */
.products.gallery {
  -webkit-column-width: 300px;
          column-width: 300px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  padding: 0 5px;
  font-size: 0;
}
.products.gallery figure {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0 0 5px 0;
}
.products.gallery figure::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background 300ms;
  transition: background 300ms;
}
.products.gallery figure img {
  width: 100%;
  height: auto;
}
.products.gallery figure figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  width: 100%;
  max-height: 100%;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #ddd;
  text-shadow: 0 0 1px #000;
  opacity: 0;
  overflow: auto;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  -webkit-overflow-scrolling: touch;
}
.products.gallery figure figcaption::-webkit-scrollbar {
  width: 4px;
}
.products.gallery figure figcaption::-webkit-scrollbar-track {
  background: transparent;
}
.products.gallery figure figcaption::-webkit-scrollbar-thumb {
  background: #bbb;
}
.products.gallery figure figcaption::-webkit-scrollbar-thumb:hover {
  background: #999;
}
.products.gallery figure:hover::after {
      background: rgba(44, 184, 199, 0.46);
}
.products.gallery figure:hover figcaption {
  opacity: 1;
}

/* ----- LIST VIEW ----- */
.products.list {
  padding: 0 5%;
}
.products.list figure {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: 0 auto 40px;
  background: #eee;
  border: 1px solid #ddd;
}
.products.list figure img {
  width: 100%;
  height: auto;
}
.products.list figure figcaption {
  padding: 20px;
  line-height: 1.4;
}


.itemcarro{
  width: 191.83999633789062px;
  height: 110px;
  object-fit: contain;
  padding-left: 66px;
}

/*NEWGALLERY*/
