.background_navbar {
  width: 1440px;
  height: 84px;
  opacity: 0.3352015398550725;
  background-color: #000000;
}

.qw{
	  font-family: Lato;
  font-size: 42px;
}

.contenido2{
  width: auto;
  height: 128px;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2777777777777777;
  letter-spacing: -0.25714290142059326px;
  text-align: justify;
  color: #404040;
  padding-right: 50px;
}

.backnav{

	background-color: #00000050;
	border-bottom: 3px solid #2cb8c7;
}
ul.uli li {

}

.line{
  width: 50px;
  height: 3px;
    border-bottom: 3px solid #2cb8c7;
     transition: width 2s;
}

.line:hover {

  width: 100%;
  height: 3px; 
  border-bottom: 3px solid #2cb8c7;
}

.textstyle{
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

.styblog{

  background-color: #f8f8f8;
   margin-bottom: -100px;
   font-size: 8px;
    background-color: #2cb8c7;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.backfoo{
 /* background-image: url('http://via.placeholder.com/1920x226');*/
 background-color: black;
}



.socialfoo{
    content: "\f39e";
    font-family: FontAwesome;
    display: inline-block;
    vertical-align: top;
    height: 37px;
    width: 37px;
    line-height: 33px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    margin-right: -14px;
    font-size: 18px;
    color: #2cb8c7;
    float: left;
    margin-top: 4px;
}





































